<%= form_with model: @user do |form| %>
    <div>
        <%= form.label "Nama" %><br>
        <%= form.text_field :name %><br>
        <% @user.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Email" %><br>
        <%= form.text_field :email %><br>
        <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label "Password" %><br>
        <%= form.password_field :password %><br>
        <% @user.errors.full_messages_for(:password).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit "Sign up" %>
    </div>
<% end %>
